<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="hospital_menu_root"
        name="Hospital"
        sequence="0"/>
    <menuitem
        id="hospital_hospital_patient_menu_bar"
        name="Patient Details"
        parent="hospital_menu_root"
        sequence="0"/>
    <menuitem
        id="hospital_hospital_patient_menu"
        name="Hospital"
        action="hospital_patient_action"
        parent="hospital_hospital_patient_menu_bar"
        sequence="0"/>
</odoo>