<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="hospital_menu_root"
        name="Hospital"
        web_icon="first-module,static/description/icon.png"
        sequence="0"/>
    <menuitem
        id="hospital_hospital_patient_menu_bar"
        name="Patient"
        parent="hospital_menu_root"
        sequence="0"/>
    <menuitem
        id="hospital_hospital_patient_menu"
        name="Patient Details"
        action="hospital_patient_action"
        parent="hospital_hospital_patient_menu_bar"
        sequence="0"/>
    <menuitem
        id="hospital_hospital_patient_female_menu"
        name="Female Patients Details"
        action="hospital_female_patient_action"
        parent="hospital_hospital_patient_menu_bar"
        sequence="0"/>
</odoo>